{% for post in page_obj %}
    <div class="card mb-2">
        <div class="card-body">
            <h5>{{ post.title }}</h5>
            <p>{{ post.content|truncatewords:20 }}</p>

            {% if post.image %}
                <img src="{{ post.image.url }}" width="200">
            {% endif %}

            {% if request.user.is_authenticated %}
                <a href="{% url 'post_update' post.id %}">Edit</a>
                <a href="{% url 'post_delete' post.id %}">Delete</a>
            {% endif %}

        </div>
    </div>
{% empty %}
    <p>No posts found.</p>
{% endfor %}